<mat-card *ngIf="user  ">
    <h3>Your Profile Details</h3>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="container">
            
               <div class="container text-center">
                <img src="../../../assets/guest-user.jpg" alt="" class="profile-image responsive-image">
                <h1 class="mt20">{{user.firstName}} {{user.lastName}} </h1>
               </div>
               <div class="row">
                <div class="col-md-10 offset-md-1">
                    <table class="table text-center">
                        <tr>
                            <td>Username</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Userid</td>
                            <td>{{user.id}}</td>
                        </tr>
                        <!-- <tr>
                            <td>Firstname</td>
                            <td>{{user.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Lastname</td>
                            <td>{{user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{user.email}}</td>
                        </tr> -->
                        <tr>
                            <td>Phone</td>
                            <td>{{user.phone}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{role}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{user.enabled?"ACTIVE":"NOTACTIVE"}}</td>
                        </tr>
                    </table>
                
                </div>
               </div>
             
            
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions  class="text-center">
        <button mat-button mat-raised-button color="primary">Update</button>
        <button mat-button mat-raised-button color="accent">Delete</button>
      </mat-card-actions>
</mat-card>
